<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Personal Portfolio Website</title>
    <link rel="stylesheet" href="./stylesheets/style.css" />
    <script src="https://kit.fontawesome.com/1bd84261e3.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div id="header">
        <div class="container">
            <nav>
                <h1 class="logo" style="font-size: 40px;"><span style="color:#ff004f;">N</span>oufu.</h1>

                <ul id="sidemenu">
                    <li><a href="#header">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#services">Services</a></li>
                    <li><a href="#portfolio">Portfolio</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <i class="fa-sharp fa-solid fa-xmark" onclick="closemenu()"></i>
                    </ul>
                    <i class="fa-solid fa-bars" onclick="openmenu()"></i>
            </nav>
            <div class="header-text">
                <p>Web Developer</p>
                <h1>Hi, I'm <span>Mohamad Nowfal</span>  <br>From Karkala</h1>
                <div class="resume">
                        <a href="https://drive.google.com/file/d/1DzzqAKWaHeSKGBaxxl9UsTLqyINQt7kz/view?usp=sharing" class="resume-view-btn">View CV</a>
                </div>
            </div>
        </div>
    </div>


    <div id="about">
        <div class="container">
            <div class="row">
                <div class="about-col-1">
                    <img src="images/user.png" alt="">
                </div>

                <div class="about-col-2">
                    <h1 class="sub-title">About Me</h1><br>
                    <p style="text-align:justify">&nbsp;&nbsp;&nbsp;Hi there!  My name is Mohamad Nowfal, and I'm passionate about web development and technology.I grew up in Karkala, a small town in Karnataka, India.I currently pursuing Bachelor of Engineering (B.E.) in Computer Science and Engineering from Yenepoya Institute Of Technology about complete it in 2024. currently i have CGPA of 8.2. Prior to that, I attended Christ King P.U College for my pre-university education, where I achieved a percentage of 85.3%. I also completed my secondary education at Christ King P.U College, securing a percentage of 83.84%. <br><br>&nbsp;&nbsp;&nbsp; Some of my key skills include:Web Development Proficient in HTML, CSS, JavaScript, Mongodb and frameworks like Node.js and Express.js. Experienced in building responsive and user-friendly websites.Skilled in languages such as C, C++, Java, and Python.I have gained practical experience through internships and projects. I have done internship at Udupi Web Solution (2023) Worked on web development projects, gaining hands-on experience with front-end and back-end technologies.</p>
                    
                    <div class="tab-titles">
                        <p class="tab-links active-link" onclick="opentab('skills')">Skills</p>
                        <p class="tab-links" onclick="opentab('education')">Education</p>
                        <p class="tab-links" onclick="opentab('experience')">Experience & Certificates</p>

                    </div>
                    
                    <div class="tab-contents active-tab" id="skills">
                        <ul>
                        <li><span>Web Development</span><br>Web development using HTML, &nbsp;CSS,&nbsp; Java Script,&nbsp; nodejs, &nbsp;express,&nbsp;Mongodb</li>
                        <li><span>Programing Language</span><br>C,&nbsp; C++, &nbsp;JAVA,&nbsp; Python</li>
                        <li><span>Data analytics</span><br>My expertise lies in using Power BI to transform raw data into compelling insights, driving informed decisions for business growth.</li>
                        <li><span>App Development</span><br>Simple app development</li>
                        <li><span>Machine Learning</span><br>I have a some knowledge on machine Learning model.</li>

                        </ul>
                        
                    </div>



                    <div class="tab-contents" id="education">
                        <ul>
                        <li><span>2024</span><br>B.E (CSE) @ Yenepoya Institute Of technology <br>CGPA : 8.2</li>
                        <li><span>2020</span><br>PUC @ Christ king P.U College. <br>Percentage : 85.3%</li>
                        <li><span>2018</span><br>SSLC @ Christ king P.U College. <br>Percentage : 83.84%</li>
                        </ul>
                    </div>

                    <div class="tab-contents" id="experience">
                        <ul>
                        <li><span>2023</span><br>Intership on Full stack web development @ Udupi Web Solution</li>
                        <li><span>2323</span><br>Intership on Web development @ VARCON TECHNOLOGIES PRIVATE LIMITED by TIE </li>
                        {{!-- <li><span>2022</span><br>Python</li> --}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div id="services">
    <div class="container">
        <h1 class="sub-title">My Services</h1>
        <div class="services-list">
            <div>
                <i class="fa-solid fa-code"></i>
                <h2>Web Development</h2>
                <p style="text-align: justify;">Web Development Proficient in HTML, CSS, JavaScript, Mongodb and frameworks like Node.js and Express.js. Experienced in building responsive and user-friendly websites.</p>
                <a href="#w1">Learn more</a>
            </div>

            <div>
                <i class="fa-solid fa-crop"></i>
                <h2>Machine Learning</h2>
                <p style="text-align: justify;">I have a some knowledge on machine Learning model implemented using Python and laibraries.</p>
                <a href="#w1">Learn more</a>
            </div>

            <div>
                <i class="fa-solid fa-camera"></i>
                <h2>Data analytics</h2>
                <p style="text-align: justify;">My expertise lies in using Power BI to transform raw data into compelling insights, driving informed decisions for business growth.</p>
                <a href="#w1">Learn more</a>
            </div>

            <div>
                <i class="fa-solid fa-camera"></i>
                <h2>Photography</h2>
                <p style="text-align: justify;">Photography is my intrest.let's transform moments into lasting memories, one click at a time.</p>
                <a href="#w2">Learn more</a>
            </div>
                        <div>
                <i class="fa-solid fa-desktop"></i>
                <h2>App development</h2>
                <p style="text-align: justify;">Simple app developed using Android studio.</p>
                <a href="#w1">Learn more</a>
            </div>
        </div>
    </div>
</div>


<div id="portfolio">
    <div class="container">
        <h1 class="sub-title">My Work</h1>
        <div class="work-list">
            <div class="work"  id="w1">
                <img src="images/work-1.png" alt="">
                <div class="layer">
                    <h3>Framework for Typhoid Prediction using Machine Learning.</h3>
                    <p style="text-align: justify;">The main objective of this project is to predict typhoid result.It contains a user - friendly web site contains chat bot and  different
                        sections which will help typhoid patient in all possible ways.</p>
                    <a href="https://github.com/noufu07/Typhoid-For-web/blob/main/README.md"><i class="fa-sharp fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>
            </div>

            <div class="work">
                <img src="images/work-2.png" alt="">
                <div class="layer">
                    <h3>Node Form</h3>
                    <p style="text-align: justify;">Node Farm is a simple project aimed at learning Node.js fundamentals. It's a basic web server application that serves dynamic content and an API.</p>
                    <a href="https://github.com/noufu07/Node-Farm"><i class="fa-sharp fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>
            </div>

            <div class="work" id="w2">
                <img src="images/work-3.png" alt="">
                <div class="layer">
                    <h3>Photography</h3>
                    <p style="text-align: justify;"> Some of the photos captured by me can be seen by clicking the button below.</p>
                    <a href="https://www.instagram.com/_captured_momentszz/?igsh=OGQ5ZDc2ODk2ZA%3D%3D"><i class="fa-sharp fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>
            </div>

<div class="work" id="not-active">
    <img src="images/work-1.png" alt="">
    <div class="layer">
        <h3>Progress Indicator</h3>
        <p style="text-align: justify;">This project implements a simple progress indicator using HTML, CSS, and JavaScript. When the "Click me" button is clicked, the progress bar fills up until it reaches 100%.</p>
        <a href="https://github.com/noufu07/Progress-indicator"><i class="fa-sharp fa-solid fa-arrow-up-right-from-square"></i></a>
    </div>
</div>

{{!-- ------ --}}

    </div>
        <a  class="btn" id="active-btn" onclick="allwork()">See more</a>
        <a  class="btn" id="not-active-btn" onclick="allwork()">See less</a>


</div>
</div>

<div id="contact">
    <div class="container">
        <div class="row">
            <div class="contact-left">
                <h1 class="sub-title">Contact me</h1>
                <p><i class="fa-solid fa-paper-plane"></i> nowfanowfal07@gmail.com</p>
                <p><i class="fa-solid fa-phone"></i> +91 7619575961</p>
                <div class="social-icons">
                    <a href="https://www.instagram.com/nowfal__07?igsh=OGQ5ZDc2ODk2ZA=="><i class="fa-brands fa-instagram"></i></a>
                    <a href="https://github.com/noufu07"><i class="fa-brands fa-square-github"></i></a>
                    <a href="https://www.linkedin.com/in/mohamad-nowfal-85951b28a/"><i class="fa-brands fa-linkedin"></i></a>
                </div>
                <a href="images/NowfalCV20241.pdf" download class="btn btn2">Download CV</a>
            </div>
                <div class="contact-right">
                    <form  name="submit-to-google-sheet">
                        <input type="text" name="Name" placeholder="Your Name" required>
                        <input type="email" name="Email" placeholder="Your Email" required>
                        <textarea name="Message"  rows="6" placeholder="Your Message"></textarea>
                        <button type="submit" class="btn btn2">Submit</button>
                        
                        <!-- jamiewilson/form-to-google-sheet -->
                    </form>
                    <span id="msg"></span>
                </div>
        </div>
    </div>
</div>

<div> 
    <div class="copyright" style="  padding: 5px 0;">
        <p>copyright <i class="fa-regular fa-copyright"></i> Mohamad Nowfal <span></span></p>

</div>
</div>
<div class="counter-main" style="  background: #262626;">
<div class="counter" style="  display: flex;justify-content: flex-end;margin-right: 20px;padding: 11px;">
    <p style="color: #ff004f;">Page Visit : &nbsp;&nbsp;</p>
<!-- hitwebcounter Code START -->
<a href="https://www.hitwebcounter.com" target="_blank">
<img src="https://hitwebcounter.com/counter/counter.php?page=11595528&style=0006&nbdigits=4&type=page&initCount=0" title="Counter Widget" Alt="Visit counter For Websites"   border="0" /></a>            
</div>
</div>


   <script src="./javascripts/script.js"></script>
  </body>
</html>